{% extends 'main/base.html' %}
{% block content %}
<div class="mt-4">
    <h1 class="my-4">Categories</h1>
    <div class="list-group">
        {% for category in categories %}
        <a href="{% url 'apps.main:thread-list' category.id %}" class="list-group-item list-group-item-action">
            {{ category.name }}
        </a>
        {% empty %}
        <div class="alert alert-warning" role="alert">No categories have been added yet.</div>
        {% endfor %}
    </div>
</div>
{% endblock content %}