<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diễn đàn</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
      body {
        padding-top: 56px;
      }
    </style>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{% url 'main:forum_list' %}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto align-items-center">
            {% if user.is_authenticated %}
              <!-- Hiển thị liên kết khi người dùng đã xác thực -->
              <li class="nav-item">
                <img src="{{ user.profile.avatar_thumbnail.url }}" alt="Avatar" class="rounded-circle" width="32" height="32" />
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:profile' %}">Chào, {{ user.profile.display_name }}</a>
              </li>
              <li class="nav-item">
                <form method="POST" action="{% url 'users:logout' %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-link nav-link">Đăng xuất</button>
                </form>
              </li>
            {% else %}
              <!-- Hiển thị liên kết đăng nhập và đăng ký khi người dùng chưa xác thực -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login' %}">Đăng nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'users:register' %}">Đăng ký</a>
              </li>
            {% endif %}

            <!-- Các liên kết điều hướng khác có thể được thêm vào đây -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% if messages %}
        <div class="messages">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              {{ message|safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}

      <div class="row">
        <div class="col-lg-12">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </div>

    {% bootstrap_javascript %}
  </body>
</html>
