{% extends 'main/base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1 class="mb-4">{{ forum.name }}</h1>
    <a href="{% url 'main:thread_create' forum.slug %}" class="btn btn-primary mt-3 mb-4">Tạo mới Thread</a>
    <div class="list-group">
      {% if threads_per_page %}
        {% for thread in threads_per_page %}
          <a href="{{ thread.get_absolute_url }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                {% if thread.prefix %}
                  <span class="badge me-2" style="background-color: {{ thread.prefix.color }}">{{ thread.prefix.name }}</span>
                {% else %}
                  <span class="badge bg-secondary me-2">No Prefix</span>
                {% endif %}
                <h5 class="mb-1">{{ thread.title }}</h5>
              </div>
              {% if thread.is_pinned %}
                <span class="badge bg-warning">Đã ghim</span>
              {% endif %}
            </div>
            <small class="text-muted">Tạo vào: {{ thread.created_at|date:'F d, Y' }}</small>
          </a>
        {% endfor %}
      {% else %}
        <div class="alert alert-warning mt-3" role="alert">Chưa có thread nào.</div>
      {% endif %}
    </div>
    {% include 'main/includes/threads_pagination.html' with page_obj=threads_per_page %}
  </div>
{% endblock %}
