{% extends 'main/base.html' %}

{% block content %}
  <div class="container">
    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'main:forum_list' %}" class="text-decoration-none">Diễn đàn</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'main:forum_detail' forum.slug %}" class="text-decoration-none">{{ forum.name }}</a>
        </li>
      </ol>
    </nav>

    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ thread.title }}</h5>
        <p class="card-text">
          <small class="text-muted">Tạo vào: {{ thread.created_at|date:'d M, Y' }}</small>
        </p>
      </div>
    </div>

    <div class="list-group" id="comment-list">
      {% for comment in page_obj.object_list %}
        {% include 'main/includes/comment_list.html' %}
      {% empty %}
        <div class="alert alert-warning" role="alert">Thread này chưa có bình luận nào.</div>
      {% endfor %}
    </div>

    {% include 'main/includes/comment_pagination.html' %}

    {% include 'main/includes/comment_form.html' %}
  </div>
{% endblock %}
