{% extends 'main/base.html' %}

{% block content %}
  <div class="mt-4">
    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'main:forum_list' %}">Forum</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'main:forum_detail' thread.forum.slug %}">{{ thread.forum.name }}</a>
        </li>
      </ol>
    </nav>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ thread.title }}</h5>
        <p class="card-text">
          <small class="text-muted">Tạo vào: {{ thread.created_at|date:'F d, Y' }}</small>
        </p>
      </div>
    </div>

    <div class="list-group" id="comment-list">
      {% for comment in comments_per_page %}
        {% include 'main/includes/comment_list.html' %}
      {% empty %}
        <div class="alert alert-warning" role="alert">Thread này chưa có comment nào.</div>
      {% endfor %}
    </div>

    {% include 'main/includes/comment_pagination.html' with page_obj=comments_per_page %}
    {% include 'main/includes/comment_form.html' %}
  </div>
{% endblock %}
